
    .button-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
    /* .button-wrapper button {
        /* padding: 10px 20px; */
        /* font-size: 16px; */
    /* }  */
    
    @media screen and (max-width: 768px) {
        .button-wrapper {
            flex-direction: column;
            align-items: center;
        }
        
        .button-wrapper button {
            margin-bottom: 10px;
        }
            .flex-container {
              display: block; /* chuyển sang block */
            }
         
    }
    @media screen and (max-width: 1024px) {
            .flex-container {
              display: block; /* chuyển sang block */
            }
         
    }

